.container {
  width: 1350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
}

.img_text {
  flex-direction: row;
  transform: translate(-150px);
}

.text_img {
  flex-direction: row-reverse;
  transform: translate(150px);
}

.image {
  width: 750px;
  border-radius: 5px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.text {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.heading {
  color: #47667d;
  font-size: 38px;
  font-weight: 800;
  text-shadow: -10px 10px 30px rgba(0, 0, 0, 0.15);
}

.subheading {
  color: #555555;
  font-size: 22px;
  font-weight: 500;
  text-shadow: -10px 10px 30px rgba(0, 0, 0, 0.15);
}

@media (max-width: 641px) {
  .img_text {
    flex-direction: column-reverse;
    transform: none;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 120px;
  }
  .text_img {
    flex-direction: column-reverse;
    transform: none;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 120px;
  }
  .text {
    width: 100%;
    margin-top: 40px;
  }
  .heading {
    font-size: 28px;
  }
  .subheading {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .image {
    width: 110%;
  }
}
