.home-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Features */
.home-features {
  width: 100%;
  height: fit-content;
  background: #f6f9fc;

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  padding-top: 130px;
  padding-bottom: 50px;
}

.features-icon {
  min-width: 50px;
  fill: #47667d;
  text-shadow: -10px 10px 30px rgba(0, 0, 0, 0.15);
}

/*---------MODERNIZE SECTION---------*/
.home-modernize {
  width: 100vw;
  height: 600px;
  background: linear-gradient(-45deg, #78aed7, #7aa5c6);

  position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modernize-image {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.modernize-header {
  font-size: 36px;
  font-weight: 800;
  color: white;
  margin-bottom: 20px;
  text-shadow: -10px 10px 30px rgba(0, 0, 0, 0.1);
}

.btt-see-options {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  font-weight: 700;

  padding: 7px;
  padding-left: 15px;
  padding-right: 15px;

  background-color: rgba(256, 256, 256, 0.3);
  text-decoration: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
.btt-see-options:hover {
  background-color: rgba(256, 256, 256, 0.5);
  color: #ffffff;
  transition: 200ms;
}

@media (max-width: 641px) {
  .home-features {
    padding-top: 100px;
  }
  .home-feature-group-imgText {
    flex-direction: column-reverse;
    transform: none;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 120px;
  }
  .home-feature-group-textImg {
    flex-direction: column-reverse;
    transform: none;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 120px;
  }
  .feature-text-group {
    width: 100%;
    margin-top: 40px;
  }
  .features-icon-heading-group {
    align-items: flex-start;
  }
  .features-icon {
    height: 30px;
  }
  .feature-text-heading {
    font-size: 28px;
  }
  .feature-text-subheading {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .features-image {
    width: 110%;
  }

  .home-modernize {
    height: 700px;
  }
  .modernize-header {
    font-size: 32px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
  }
  .modernize-image {
    width: 250px;
  }
  .btt-see-options {
    display: none;
  }
  .btt-try-free:hover {
    opacity: 1;
  }
}
