.card-container {
    min-width: 350px;
    max-width: 350px;
    height: fit-content;
    
    display: flex;
    flex-direction: column;

    margin-bottom: 10px;
    border-radius: 10px;
}

.rounded {
    border-radius: 10px !important;
    overflow: hidden;
    transition: 300ms;
}


/*-------TOP-------*/
.card-top {
    min-height: 70px;
    height: 1px;

    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
    transition: 300ms;
}

.card-top-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-top-right {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.status-indicator {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.id-tag {
    color: #FFFFFF;
    font-size: 10px;
}

.author {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
}

.card-icon {
    fill: #FFFFFF;
    min-width: 30px;
    margin-right: 10px;
}


/*-------BODY-------*/
.card-body {
    height: 500px;

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;

    border-radius: 0 0 10px 10px;
    background-color: #FFFFFF;
    overflow-y: auto;
    transition: 300ms;
}
.card-body:hover::-webkit-scrollbar-track {
    background: rgba(241, 241, 241, 1);
    opacity: 100%;
    transition: 200ms;
}
.card-body:hover::-webkit-scrollbar-thumb {
    background: rgba(220, 220, 220, 1);
    opacity: 100%;
    transition: 200ms;
}

.card-body-collapsed {
    padding-left: 30px;
    padding-right: 30px;

    border-radius: 0 0 10px 10px;
    background-color: #FFFFFF;
    overflow: hidden;

    height: 0px;
    transition: 300ms;
}

.block-heading {
    font-size: 14px;
    font-weight: 500;
    word-wrap: break-word;

    margin-bottom: 3px;
}

.block-text {
    color: #222222;
    font-size: 14px;
    word-wrap: break-word;
    margin-bottom: 20px;
}