/*-------OPERATIONS-------*/
.card-operations {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btt-1 {
  width: 40px;
  height: 40px;

  margin: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
  cursor: pointer;
}
.card-btt:hover {
  transition: 200ms;
}

.btts-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.btt-pass {
  color: #3cdc27;
}
.btt-pass:hover {
  background-color: #cff9c3;
}

.btt-table {
  color: #ffca39;
}
.btt-table:hover {
  background-color: #ffe49a;
}

.btt-fail {
  color: #ff7070;
}
.btt-fail:hover {
  background-color: #ffc6c6;
}

.btt-present {
  color: #b1b1b1;
}
.btt-present:hover {
  color: #3c8cc9;
  background-color: #bae4fa;
}

/*------CONFIRMATION------*/
.confirm-operations {
  display: flex;
  flex-direction: column;
}

.btt-2 {
  height: 30px;
  margin-bottom: 10px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.btt-2-text {
  font-size: 12px;
  font-weight: 500;
  margin-right: 5px;
}

.confirm-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.confirm-cancel {
  margin-left: 5px;
  background-color: #eeeeee;
  color: #b1b1b1;
}
.confirm-cancel:hover {
  background-color: #b1b1b1;
  color: white;
}

.confirm-pass {
  background-color: #cff9c3;
  color: #3cdc27;
}
.confirm-pass:hover {
  background-color: #3cdc27;
  color: white;
}

.confirm-fail {
  background-color: #ffc6c6;
  color: #ff7070;
}
.confirm-fail:hover {
  background-color: #ff7070;
  color: white;
}

.feedback-field {
  width: 100%;
  height: 100px;
  resize: none;

  display: flex;
  align-items: center;

  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;

  font-size: 14px;

  border-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  background-color: #ffffff;
}
.feedback-field::placeholder {
  font-size: 14px;
  color: #c0c0c0;
}
.feedback-field:focus {
  outline: none !important;
  border-color: rgba(0, 0, 0, 0);
}
.feedback-field:hover {
  background-color: #eeeeee;
}
