.card-container {
  min-width: 350px;
  max-width: 350px;
  height: 100%;

  display: flex;
  flex-direction: column;

  border-radius: 10px;
}

/*-------OPERATIONS-------*/
.card-operations {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btts-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.btt-pass {
  width: 40px;
  height: 40px;

  margin: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
  cursor: pointer;
  color: #3cdc27;
}
.btt-pass:hover {
  background-color: #cff9c3;
  transition: 200ms;
}

.btt-table {
  width: 40px;
  height: 40px;

  margin: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
  cursor: pointer;
  color: #ffca39;
}
.btt-table:hover {
  background-color: #ffe49a;
  transition: 200ms;
}

.btt-fail {
  width: 40px;
  height: 40px;

  margin: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
  cursor: pointer;
  color: #ff7070;
}
.btt-fail:hover {
  background-color: #ffc6c6;
  transition: 200ms;
}

.btt-present {
  width: 40px;
  height: 40px;

  margin: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
  cursor: pointer;
  color: #b1b1b1;
}
.btt-present:hover {
  color: #3c8cc9;
  background-color: #bae4fa;
  transition: 200ms;
}

.btt-revert {
  margin-bottom: 10px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  color: #daa000;
  background-color: #ffe49a;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.btt-revert:hover {
  color: #ffffff;
  background-color: #ffca39;
  transition: 200ms;
}

.btt-revert-text {
  font-size: 12px;
  font-weight: 500;
  margin-right: 5px;
}

/*-------TOP CUSTOM-------*/
.custom-top {
  position: relative;

  padding: 15px;
  padding-left: 30px;
  padding-right: 45px;

  display: flex;
  flex-direction: row;
  align-items: center;

  border-radius: 10px 10px 0px 0px;
  background-color: #3c8cc9;
}

.custom-id-tag {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #ffffff;
  font-size: 10px;
}

.author {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}

.custom-icon {
  fill: #ffffff;
  min-width: 30px;
  margin-right: 10px;
}

/*-------TOP STANDARD-------*/
.standard-top {
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;

  border-radius: 10px 10px 0px 0px;
  background-color: #3c8cc9;
}

.card-top-bottom {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.type {
  color: #ffffff;
  font-size: 14px;
}

.id-tag {
  color: #ffffff;
  font-size: 10px;
}

.title {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;

  margin-bottom: 10px;
}

/*-------TIE-------*/
.card-tie {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 5px;

  font-size: 12px;
  background-color: #f7f7f7;
}

.tie-set {
  display: flex;
  flex-direction: row;

  margin-bottom: 5px;
}

.tie-icon {
  fill: #b1b1b1;
  min-width: 18px;
  margin-right: 10px;
}

.signatories-list {
  color: #b1b1b1;
}

/*-------BODY-------*/
.card-body {
  flex-grow: 1;

  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;

  border-radius: 0 0 10px 10px;
  background-color: #ffffff;
  overflow-y: auto;
}
.card-body:hover::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 1);
  opacity: 100%;
  transition: 200ms;
}
.card-body:hover::-webkit-scrollbar-thumb {
  background: rgba(220, 220, 220, 1);
  opacity: 100%;
  transition: 200ms;
}

.block-heading {
  font-size: 14px;
  font-weight: 500;
  word-wrap: break-word;

  margin-bottom: 3px;
}

.block-text {
  color: #222222;
  font-size: 14px;
  word-wrap: break-word;
  margin-bottom: 20px;
  white-space: pre-line;
}
