.container {
  width: 100%;
  height: 100%;
}

/*-------TOP CUSTOM-------*/
.custom_top {
  position: relative;

  padding: 15px;
  padding-left: 30px;
  padding-right: 45px;

  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: #3c8cc9;
}

.custom_id_tag {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #ffffff;
  font-size: 24px;
}

.author {
  color: #ffffff;
  font-size: 32px;
  font-weight: 500;
}

.custom_icon {
  fill: #ffffff;
  min-width: 30px;
  margin-right: 10px;
}

/*-------TOP STANDARD-------*/
.standard_top {
  padding: 25px;
  padding-left: 50px;
  padding-right: 50px;

  background-color: #3c8cc9;
}

.card_top_bottom {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.type {
  color: #ffffff;
  font-size: 24px;
}

.id_tag {
  color: #ffffff;
  font-size: 24px;
}

.title {
  color: #ffffff;
  font-size: 42px;
  font-weight: 600;

  margin-bottom: 10px;
}

/*-------TIE-------*/
.card_tie {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 10px;

  font-size: 24px;
  background-color: #f7f7f7;
}

.tie_set {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 5px;
}

.tie_icon {
  fill: #b1b1b1;
  min-width: 30px;
  margin-right: 20px;
}

.signatories_list {
  color: #b1b1b1;
}

/*-------BODY-------*/
.card_body {
  flex-grow: 1;

  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;

  border-radius: 0 0 10px 10px;
  background-color: #ffffff;
  overflow-y: auto;
}
.card_body:hover::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 1);
  opacity: 100%;
  transition: 200ms;
}
.card_body:hover::-webkit-scrollbar-thumb {
  background: rgba(220, 220, 220, 1);
  opacity: 100%;
  transition: 200ms;
}

.block_heading {
  font-size: 24px;
  font-weight: 500;
  word-wrap: break-word;

  margin-bottom: 3px;
}

.block_text {
  color: #222222;
  font-size: 24px;
  word-wrap: break-word;
  margin-bottom: 20px;
  white-space: pre-line;
}
