.container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  transform: translate(50px);
}

.text {
  width: fit-content;

  font-size: 16px;
  font-weight: 600;
  color: #999999;

  padding: 15px;
  padding-top: 10px;
  padding-bottom: 0px;

  background-color: #ffffff;
  border-radius: 10px 10px 0px 0px;
}

.options-container {
  width: 500px;
  height: fit-content;

  padding: 10px;
  margin-bottom: 100px;

  background-color: #ffffff;
  border-radius: 0px 10px 10px 10px;

  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
}

.button_icon_pair {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3rem;
}
