/*----------PAGE UI----------*/
.editor-container {
    width: fit-content;
    height: 100%;

    display: flex;
    justify-content: center;
}

.main-UI {
    width: 1170px;
    height: 100%;

    display: flex;
    flex-direction: column;

    margin-top: 30px;
}

.fade {
    opacity: 0%;
    transition: 200ms;
}


/*----------FORM UI----------*/
.hat-UI {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    padding-right: 430px;
    padding-bottom: 30px;
}

.hat-left {
    display: flex;
    flex-direction: column;
    transform: translate(50px);
}
.hat-heading {
    max-width: 400px;
    font-size: 32px;
    font-weight: 600;
    color: #BCBCBC;
}
.hat-subheading {
    font-size: 18px;
    font-weight: 500;
    color: #BCBCBC;
}

.preview-editor-pair {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: visible;
}

/*----------SHARE LINK----------*/
.share-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;

    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;

    border-radius: 10px;
    transition: 200ms;
    cursor: pointer;
    background-color: #378DCC;
}
.share-container:hover {
    background-color: #45add2;
    transition: 200ms;
}

.share-icon {
    width: 30px;
    height: 30px;
    fill: #FFFFFF;
    margin-right: 10px;
}

.share-text {
    font-size: 18px;
    font-weight: 500;
    color: white;
}

.share-confirm {
    position: absolute;
    left: -120px;

    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background-color: #BAE4FA;

    font-size: 10px;
    font-weight: 500;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 200ms;
}

/*----------ADD QUESTION----------*/
.addQ-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    transform: translate(50px);
}

.addQ-text {
    width: fit-content;

    font-size: 16px;
    font-weight: 600;
    color: #999999;

    padding: 15px;
    padding-top: 10px;
    padding-bottom: 0px;

    background-color: #FFFFFF;
    border-radius: 10px 10px 0px 0px;
}

.addQ-options-container {
    width: 500px;
    height: fit-content;

    padding: 10px;
    margin-bottom: 100px;

    background-color: #FFFFFF;
    border-radius: 0px 10px 10px 10px;

    display: flex;
    flex-wrap: wrap;
}
.btt-addQ {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;

    background-color: #BAE4FA;
    border-radius: 10px;

    color: #378DCC;
    font-weight: 500;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}
.btt-addQ:hover {
    background-color: #7eb6df;
    color: #FFFFFF;
    transition: 200ms;
}

/*Toggle*/
.toggle-set {
    width: fit-content;
    height: fit-content;
    margin-top: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;

    cursor: pointer;
}
.toggle-bar {
    position: relative;
    width: 45px;
    height: 20px;

    margin-left: 15px;
    border-radius: 10px;
}
.toggle-circle {
    position: absolute;
    left: 0px;

    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.toggle-greenbg {
    background-color: #CFF9C3;
    transition: 200ms;
}
.toggle-greenbtt {
    background-color: #3CDC27;
    transition: 200ms;
}
.toggle-redbg {
    background-color: #ffc6c6;
    transition: 200ms;
}
.toggle-redbtt {
    background-color: #ff7070;
    transition: 200ms;
}
.toggle-text-red {
    font-size: 16px;
    font-weight: 500;
    color: #ff7070;
    transition: 200ms;
}
.toggle-text-green {
    font-size: 16px;
    font-weight: 500;
    color: #3CDC27;
    transition: 200ms;
}