.editor-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*------------LEFT SIDE------------*/
.UI-left {
    padding-left: 50px;
    padding-right: 50px;

    display: flex;
    flex-grow: 1;
    justify-content: center;

    overflow-y: auto;
}
.UI-left::-webkit-scrollbar {
    display: none;
}

.preview-container {
    width: 700px;
    height: fit-content;
}

.preview-hat {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.preview-hat-heading {
    font-size: 32px;
    font-weight: 600;
    color: #BCBCBC;
}
.preview-hat-subheading {
    font-weight: 500;
    color: #BCBCBC;
}

.btt-submit-block {
    width: 100%;

    position: relative;

    padding-top: 10px;
    padding-bottom: 150px;
}
.btt-submit {
    width: 120px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: 0px;

    background-color: #BAE4FA;
    color: #378DCC;
    font-weight: 500;
    border-radius: 5px;

    transition: 200ms;
    cursor: pointer;
}
.btt-submit:hover {
    background-color: #7eb6df;
    color: #FFFFFF;
    transition: 200ms;
}


/*------------RIGHT SIDE------------*/
.UI-right {
    width: 400px;
    padding-top: 10px;
    padding-right: 20px;
    overflow-y: auto;
}
.UI-right:hover::-webkit-scrollbar-track {
    background: rgba(241, 241, 241, 1);
    opacity: 100%;
    transition: 200ms;
}
.UI-right:hover::-webkit-scrollbar-thumb {
    background: rgba(188, 188, 188, 1);
    opacity: 100%;
    transition: 200ms;
}