.container {
  width: 100%;
  height: fit-content;
  padding: 30px;
  padding-top: 5px;
  padding-bottom: 5px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.message {
  font-weight: 400;
}

.action-text {
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
}
