.page-container {
  width: 75%;
  height: 85%;
  max-width: 1600px;

  display: flex;
  flex-direction: row;
}

/*-----------LEFT UI----------*/
.UI-left {
  display: flex;
  flex-direction: column;

  min-width: 70%;
  margin-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;

  border-radius: 10px;
  background-color: #ffffff;
}

.UI-left-top {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

/*Header*/
.header-pair {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 10px;
}

.header-text {
  font-size: 18px;
  font-weight: 600;
  color: #3c8cc9;
  margin-left: 15px;
}

.header-icon {
  fill: #3c8cc9;
}

/*Committee Information*/
.setting-header {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #707070;
}

.inputs-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-subheader {
  font-size: 16px;
  font-weight: 500;
}

.input-field {
  min-width: 250px;
  height: 30px;

  margin-top: 10px;
  margin-right: 40px;
  padding-left: 10px;
  padding-right: 10px;

  font-size: 16px;

  border-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  background-color: #f7f7f7;
}
.input-field:focus {
  outline: none !important;
  border-color: rgba(0, 0, 0, 0);
  background-color: #f7f7f7;
}
.input-field:hover {
  background-color: #eeeeee;
}

/*-----------RIGHT UI----------*/
.UI-right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;

  border-radius: 10px;
  background-color: #ffffff;
}

.release-notes-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  background-color: #f7f7f7;
  border-radius: 10px;

  margin-top: 10px;
  padding: 20px;

  font-size: 16px;
  font-family: "Inter", sans-serif;

  border-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  background-color: #f7f7f7;

  overflow-y: auto;
}

.version-note-heading {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
}
.version-note-subheading {
  font-size: 16px;
  color: #707070;
  margin-bottom: 25px;
}

.metadata {
  color: #bcbcbc;
  margin-top: 15px;
}

.signature {
  margin-top: 10px;
}

/*----- Clear All -----*/
.btt-clear {
  width: fit-content;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  font-weight: 600;

  padding: 8px;
  padding-left: 25px;
  padding-right: 25px;

  background-color: #f3b9c9;
  color: #ff4343;
  border-radius: 10px;
  cursor: pointer;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.btt-clear:hover {
  background-color: #ff7979;
  color: #ffffff;
  transition: 200ms;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.danger-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-width: 2px;
  border-color: #f3f3f3;
  border-style: solid;
  border-radius: 10px;

  padding: 15px;
}
