.invalid-container {
  width: 100vw;
  height: 100vh;

  background-color: #f7f7f7;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon {
  fill: #707070;
}

.heading {
  font-size: 36px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}

.subheading {
  font-size: 24px;
  font-weight: 600;
  color: #707070;
}
