.inbox_container {
  width: 100%;
  height: 85%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*--------------TOP UI--------------*/
.UI_top {
  width: 75%;
  max-width: 1600px;
  height: fit-content;
  position: relative;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filter_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card_count {
  font-size: 16px;
  font-weight: 500;
  color: #bcbcbc;
}

.left_spacer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 225px;
}

/*---------BOTTOM UI--------*/
.UI_bottom {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: row;

  overflow-x: auto;
  overflow-y: hidden;
}
.UI_bottom::-webkit-scrollbar {
  display: none;
}

.spacer {
  min-width: 12.5%;
}

.spacer2 {
  min-width: 11%;
}

.no_cards_box {
  width: 100%;
  height: 100%;

  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 20px;
  font-weight: 600;
  color: #bcbcbc;

  background-color: #f3f3f3;
  border-radius: 10px;
}
