.navbar-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar {
    width: 60%;
    height: 100px;
    margin: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.logo {
    width: 40px;
}

.options {
    width: 450px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.option-text {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.option-text:hover {
    color: #BCBCBC;
    transition: 200ms;
}

.option-options {
    font-size: 14px;
    font-weight: 600;

    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: -10px;

    background-color: #BAE4FA;
    text-decoration: none;
    color: #00A3FF;
    border-radius: 5px;
    cursor: pointer;
}
.option-options:hover {
    background-color: #4bb4ff;
    color: #FFFFFF;
    transition: 200ms;
}