.delegations-container {
    margin: auto;
    
    width: 75%;
    height: 80%;
    max-width: 1600px;

    display: flex;
    flex-direction: row;
}

.hide {
    opacity: 0%;
    visibility: hidden;
    transition: 200ms;
}

.disappear {
    display: none !important;
}

.px18 {
    font-size: 18px;
}

/*-----------LEFT UI-----------*/
.UI-left {
    min-width: 300px;
    width: 25%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.UI-topleft {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.delcount-container{
    width: 90%;
    height: 200px;

    background-color: #FFFFFF;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #F7F7F7;

    margin-bottom: 20px;
}
.delcount-subcont {
    padding: 30px;
}
.delcount-num {
    font-size: 72px;
    font-weight: 600;
}

.btt-add-country {
    width: 90%;
    height: 35px;

    background-color: #BAE4FA;
    color: #378DCC;
    font-weight: 500;
    border-radius: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 7px;
    cursor: pointer;
}
.btt-add-country:hover {
    background-color: #7eb6df;
    color: #FFFFFF;
    transition: 200ms;
}

.btt-select-all {
    width: 90%;
    height: 35px;

    background-color: #ffe49a;
    color: #daa000;
    font-weight: 500;
    border-radius: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 7px;

    transition: 200ms;
    cursor: pointer;
}
.btt-select-all:hover {
    background-color: #ffca39;
    color: #FFFFFF;
    transition: 200ms;
}

.btt-remove-selected {
    width: 90%;
    height: 35px;

    background-color: #F3B9C9;
    color: #FF4343;
    font-weight: 500;
    border-radius: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 7px;

    transition: 200ms;
    cursor: pointer;
}
.btt-remove-selected:hover {
    background-color: #ff7979;
    color: #FFFFFF;
    transition: 200ms;
}

.export-delegations {
    width: 80%;
    color: black;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    cursor: pointer;
}
.export-delegations:hover {
    color: #686868;
    transition: 200ms;
}
.export-codes {
    padding-left: 15px;
}

/*-----------RIGHT UI-----------*/
.UI-right {
    width: 75%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-y: auto;
}
.UI-right:hover::-webkit-scrollbar-track {
    background: rgba(241, 241, 241, 1);
    opacity: 100%;
    transition: 200ms;
}
.UI-right:hover::-webkit-scrollbar-thumb {
    background: rgba(188, 188, 188, 1);
    opacity: 100%;
    transition: 200ms;
}
.no-del-container {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    background-color: #F3F3F3;
}
.no-del-message {
    font-weight: 500;
    font-size: 24px;
    color: #BCBCBC;
}


/*---------DELBAR---------*/
.delegate-container{
    width: 100%;
    min-width: 250px;
    min-height: 45px;
    margin-bottom: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: #FFFFFF;
    border-radius: 10px;

    transition: 200ms;
    cursor: pointer;
}
.delegate-container:hover {
    background-color: #F7F7F7;
    transition: 200ms;
}

.delegate-container-selected{
    width: 100%;
    min-width: 250px;
    min-height: 45px;
    margin-bottom: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: #FFFFFF;
    border-radius: 10px;

    background-color: #BAE4FA;
    transition: 200ms;
    cursor: pointer;
}
.delegate-container-selected:hover {
    background-color: #7eb6df;
    transition: 200ms;
}

.del-name {
    font-weight: 600;
    margin-left: 30px;
}

.code-container {
    width: 80px;
    height: 35px;

    border-radius: 10px;
    background-color: #F7F7F7;

    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 400;

    transition: 200ms;
    cursor: pointer;
}
.code-container-selected {
    width: 80px;
    height: 35px;

    border-radius: 10px;
    background-color: #e2f5ff;
    opacity: 80%;

    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 400;

    transition: 200ms;
    cursor: pointer;
}


/*----------MODAL UI-----------*/
.modal-background {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.3);
}