.container {
  display: flex;
  flex-direction: column;
}

.input {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.filename {
  padding: 0.35rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  border-radius: 0.3rem;
  background-color: #f7f7f7;
  font-size: 14px;
  font-weight: 400;

  display: flex;
  flex-grow: 1;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
