.container {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 14px;
  font-weight: 600;
  color: #707070;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
}

.full_width {
  width: 100% !important;
}

.flex_grow {
  display: flex;
  flex-grow: 1;
}

/* Short Text */
.shorttext {
  height: 30px;

  padding-left: 10px;
  padding-right: 10px;

  font-size: 14px;

  border-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
}
.shorttext::placeholder {
  font-size: 14px;
  color: #c0c0c0;
}
.shorttext:focus {
  outline: none !important;
  border-color: rgba(0, 0, 0, 0);
}

.bg_white {
  background-color: #ffffff;
}
.bg_white:focus {
  background-color: #ffffff;
}
.bg_white:hover {
  background-color: #f7f7f7;
}

.bg_gray {
  background-color: #f7f7f7;
}
.bg-gray:focus {
  background-color: #f7f7f7;
}
.bg_gray:hover {
  background-color: #f3f3f3;
}

/* Checkbox */
.checkbox_container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 8px;
}

.checkbox {
  width: 1.3rem;
  height: 1.3rem;
  cursor: pointer;
  background-color: #ffffff;
}

/* Button */
.button {
  width: fit-content;
  display: flex;
  align-items: center;

  cursor: pointer;
  border: none;
  transition: 200ms;
  font-weight: 600;
  text-wrap: nowrap;
  white-space: nowrap;
}

.left {
  display: flex;
  justify-content: flex-start;
}

.center {
  justify-content: center;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.tiny {
  font-size: 0.5rem;
  border-radius: 0.1rem;
}

.sm {
  font-size: 0.9rem;
  border-radius: 0.3rem;
}

.md {
  font-size: 0.9rem;
  border-radius: 0.3rem;
}

.lg {
  font-size: 1.1rem;
  border-radius: 0.5rem;
  white-space: nowrap;
}

.p_tiny {
  padding: 0.2rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

.p_sm {
  padding: 0.4rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.p_md {
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.p_lg {
  padding: 0.5rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.black {
  background-color: #ffffff;
  color: #000000;
}
.black:hover {
  background-color: #f3f3f3;
  color: #000000;
}
.black_secondary {
  background-color: rgba(0, 0, 0, 0);
  color: #000000;
}

.dark {
  background-color: #4b6980;
  color: #ffffff;
}
.dark:hover {
  background-color: #6c92af;
  color: #ffffff;
}
.dark_secondary {
  background-color: rgba(0, 0, 0, 0);
  color: #4b6980;
}

.light {
  background-color: #bae4fa;
  color: #00a3ff;
}
.light:hover {
  background-color: #4bb4ff;
  color: #ffffff;
}
.light_secondary {
  background-color: rgba(0, 0, 0, 0);
  color: #00a3ff;
}

.white {
  background-color: rgba(256, 256, 256, 0.3);
  color: #ffffff;
}
.white:hover {
  background-color: rgba(256, 256, 256, 0.5);
}
.white_secondary {
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
}

.white_outlined {
  background-color: #ffffff;
  color: #707070;
  border: solid 0.15rem #eaeaea;
}
.white_outlined:hover {
  background-color: #f3f3f3;
}

.bricked {
  background-color: #eaeaea;
  color: #bcbcbc;
  cursor: not-allowed;
}

.yellow {
  background-color: #ffe49a;
  color: #daa000;
}
.yellow:hover {
  background-color: #ffca39;
  color: #ffffff;
  transition: 200ms;
}

.red {
  background-color: #f3b9c9;
  color: #ff4343;
}
.red:hover {
  background-color: #ff7979;
  color: #ffffff;
  transition: 200ms;
}

.gray {
  background-color: #eeeeee;
}
.gray:hover {
  background-color: #d9d9d9;
  transition: 200ms;
}
