.container {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 14px;
  font-weight: 600;
  color: #707070;
  margin-bottom: 0.3rem;
}

.full_width {
  width: 100% !important;
}

.flex_grow {
  display: flex;
  flex-grow: 1;
}

/* Short Text */
.shorttext {
  height: 30px;

  padding-left: 10px;
  padding-right: 10px;

  font-size: 14px;

  border-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
}
.shorttext::placeholder {
  font-size: 14px;
  color: #c0c0c0;
}
.shorttext:focus {
  outline: none !important;
  border-color: rgba(0, 0, 0, 0);
}

.bg_white {
  background-color: #ffffff;
}
.bg_white:focus {
  background-color: #ffffff;
}
.bg_white:hover {
  background-color: #f7f7f7;
}

.bg_gray {
  background-color: #f7f7f7;
}
.bg-gray:focus {
  background-color: #f7f7f7;
}
.bg_gray:hover {
  background-color: #f3f3f3;
}

/* Checkbox */
.checkbox_container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 8px;
}

.checkbox {
  width: 1.3rem;
  height: 1.3rem;
  cursor: pointer;
  background-color: #ffffff;
}
