.options-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/*---------------TOP----------------*/
.top {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f8fb;
}

.top-container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-size: 36px;
  font-weight: 700;
  color: #4a687f;
  margin-bottom: 20px;
}

/*---------------BOTTOM---------------*/
.bottom {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-container {
  width: 900px;
  display: flex;
  flex-direction: column;
}

.bottom-header {
  font-size: 26px;
  font-weight: 700;
  color: #707070;
  margin-bottom: 20px;
}

.nowrap {
  display: flex;
  flex-direction: row;
}

.bottom-disclaimer {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.red-highlight {
  color: #940000;
  text-decoration: none;
}

/*----JOIN PRIVATE BETA----*/
.join-container {
  display: flex;
  flex-direction: column;

  padding: 50px;

  width: 100%;
  position: absolute;
  top: 100px;
  z-index: 2;

  background-color: #f7f7f7;
  box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.join-header {
  font-size: 24px;
  font-weight: 700;
  color: #4a6980;
}

.join-subheader {
  font-size: 18px;
  font-weight: 600;
  color: #707070;
}

.join-action {
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
}

.link {
  color: #00a4ff;
  text-decoration: none;
}

/*----- Trusted By -----*/
.trusted-by {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.logos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.trusted-text {
  font-size: 14px;
  font-weight: 500;
  color: #bcbcbc;
  margin-bottom: 10px;
}

.logo {
  height: 50px;
  filter: grayscale(100%) brightness(130%);
}
