.container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 10;
}

.noselect {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.content {
  width: 60%;
  height: 80px;
  margin: auto;
  margin-top: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 40px;
}

.options {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.option-text {
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.option-text:hover {
  color: #bcbcbc;
  transition: 200ms;
}

.btt-primary {
  font-size: 14px;
  font-weight: 600;

  padding: 8px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: -10px;

  background-color: #bae4fa;
  text-decoration: none;
  color: #00a3ff;
  border-radius: 10px;
  cursor: pointer;
}
.btt-primary:hover {
  background-color: #4bb4ff;
  color: #ffffff;
  transition: 200ms;
}

.option-text-white {
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.option-text-white:hover {
  opacity: 0.6;
  transition: 200ms;
}

.btt-primary-white {
  font-size: 14px;
  font-weight: 600;

  padding: 8px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: -10px;

  background-color: rgba(256, 256, 256, 0.3);
  text-decoration: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
.btt-primary-white:hover {
  background-color: rgba(256, 256, 256, 0.5);
  transition: 200ms;
}

.btt-signout {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  font-weight: 600;

  padding: 8px;
  padding-left: 25px;
  padding-right: 25px;

  background-color: #4b6980;
  color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
}
.btt-signout:hover {
  background-color: #6c92af;
  color: #ffffff;
  transition: 200ms;
}

@media (max-width: 641px) {
  .content {
    margin: 0px;
    margin-top: 30px;
    height: 50px;
    width: 70%;
  }
  .options {
    display: none;
  }
  .logo {
    width: 30px;
  }
}
