.header-imgsrc-container {
  width: 75%;

  display: flex;
  align-items: center;

  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;

  font-size: 14px;

  border-radius: 10px;
  background-color: #f7f7f7;
}

.header-imgbar-n-btt {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-btt-upload {
  width: fit-content;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  background-color: #bae4fa;
  color: #00a3ff;

  font-size: 12px;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.header-btt-upload:hover {
  background-color: #7eb6df;
  color: #ffffff;
  transition: 200ms;
}
