.history-container {
  margin: auto;

  width: 75%;
  height: 80%;
  max-width: 1600px;

  display: flex;
  flex-direction: row;
}

.nowrap {
  white-space: nowrap;
}

.hidden {
  display: none;
}

.super-z {
  z-index: 10;
}

/*--------UI DOM--------*/
.UI-right {
  height: 100%;
  width: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.UI-left {
  width: 1px;
  height: 100%;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;

  margin-right: 30px;
}

.UI-topright {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 20px;
  margin-right: 7px;
}

/*--------NO CARDS--------*/
.no-selection-card {
  min-width: 350px;
  max-width: 350px;
  height: 100%;

  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  font-weight: 600;
  color: #bcbcbc;

  background-color: #f3f3f3;
  border-radius: 10px;
}

.no-cards-box {
  width: 100%;
  height: 100%;

  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  font-weight: 600;
  color: #bcbcbc;

  background-color: #f3f3f3;
  border-radius: 10px;
}

/*--------RIGHT-UI--------*/
.cardbar-container {
  width: 100%;

  display: flex;
  flex-direction: row;
  margin-bottom: 3px;

  border-radius: 3px;
  background-color: #ffffff;
  cursor: pointer;
  overflow: hidden;
}

.cardbar-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  width: 1px;

  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.cardbar-deck-container {
  width: calc(100% + 5px);
  padding-right: 7px;
  overflow-y: auto;
  flex-grow: 1;
}
.cardbar-deck-container:hover::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 1);
  opacity: 100%;
  transition: 200ms;
}
.cardbar-deck-container:hover::-webkit-scrollbar-thumb {
  background: rgba(220, 220, 220, 1);
  opacity: 100%;
  transition: 200ms;
}

.cardbar-indicator {
  min-width: 15px;
  min-height: 15px;
}

.selected {
  background-color: #bae4fa;
  transition: 200ms;
}

.card-container {
  height: calc(100% - 50px);
}

.cardbar-left {
  width: 70%;
  flex-direction: row;
  align-items: center;
}

.cardbar-right {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.cardbar-title {
  margin-right: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}

.cardbar-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #aaaaaa;
  font-size: 12px;
}

.cardbar-id {
  margin-left: 15px;
  font-size: 10px;
  font-weight: 600;
  color: #aaaaaa;
}

/*History Operations*/
.history-operations {
  width: 100%;
  height: fit-content;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btt-clear-history {
  width: fit-content;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  font-weight: 600;

  padding: 8px;
  padding-left: 25px;
  padding-right: 25px;

  background-color: #f3b9c9;
  color: #ff4343;
  border-radius: 10px;
  cursor: pointer;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.btt-clear-history:hover {
  background-color: #ff7979;
  color: #ffffff;
  transition: 200ms;
}

.btt-export-history {
  width: 190px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 14px;
  font-weight: 600;

  padding: 8px;
  padding-left: 25px;
  padding-right: 25px;

  background-color: #eeeeee;
  border-radius: 10px;
  cursor: pointer;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.btt-export-history:hover {
  background-color: #d9d9d9;
  transition: 200ms;
}

/*--------FILTER DROPDOWN--------*/
.filter-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filter-icon {
  fill: #bcbcbc;
  margin-right: 10px;
}

.dropdown-bar {
  width: 200px;
  height: 30px;
  position: relative;
  display: flex;
  align-items: center;

  padding-left: 15px;
  padding-right: 30px;

  font-size: 16px;

  border-radius: 10px;
  background-color: #ffffff;
  cursor: pointer;
}
.dropdown-bar:hover {
  background-color: #eeeeee;
}

.dropdown-triangle {
  position: absolute;
  right: 10px;
  top: 10px;
  fill: #bcbcbc;
}

.dropdown-field {
  width: 100%;
  max-height: 200px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  overflow-y: auto;

  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;

  border-color: rgba(46, 18, 18, 0);
  border-radius: 10px;
  background-color: #f7f7f7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
.dropdown-field:hover::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 1);
  opacity: 100%;
  transition: 200ms;
}
.dropdown-field:hover::-webkit-scrollbar-thumb {
  background: rgba(220, 220, 220, 1);
  opacity: 100%;
  transition: 200ms;
}

.dropdown-defocuser {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
}

.dropdown-option-container {
  width: 100%;
  height: 28px;
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
  overflow-x: hidden;
  cursor: pointer;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.dropdown-option-container:hover {
  background-color: #eeeeee;
}

.dropdown-text-container {
  overflow: hidden;
  font-size: 14px;
}

/*--------SEARCHBAR---------*/
.searchbar {
  position: relative;
  width: 300px;
}

.subbar {
  width: 100%;
  height: 30px;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;

  padding-left: 15px;
  padding-right: 30px;

  font-size: 16px;

  outline: none !important;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  background-color: #ffffff;
}
.subbar::placeholder {
  font-size: 16px;
  color: #c0c0c0;
}
.subbar:focus {
  outline: none !important;
  border-color: rgba(0, 0, 0, 0);
  background-color: #eeeeee;
}
.subbar:hover {
  background-color: #eeeeee;
}

.search-icon {
  position: absolute;
  z-index: 2;
  right: 10px;
  top: 8px;
  fill: #bcbcbc;
}

/*----- Bricked Button -----*/
.btt-bricked {
  width: 190px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 14px;
  font-weight: 600;

  padding: 8px;
  padding-left: 25px;
  padding-right: 25px;

  background-color: #f3f3f3;
  color: #bcbcbc;
  border-radius: 10px;
  cursor: pointer;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
