.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

.gradient {
  width: 120vw;
  height: 850px;
  position: absolute;
  top: -300px;
  z-index: 0;

  transform: rotate(5deg);
}

.messagebox {
  width: 500px;
  z-index: 2;

  margin: 30px;
  padding: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffffff;

  border-radius: 10px;
  box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.05);

  display: grid;
  gap: 20px;
}

.heading {
  color: #4a687f;
}

.pairs {
  display: grid;
  gap: 15px;
}

.btt_full {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  font-weight: 600;

  padding: 7px;
  padding-left: 15px;
  padding-right: 15px;

  background-color: #dfefff;
  color: #00a3ff;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
.btt_full:hover {
  background-color: #59c2ff;
  color: #ffffff;
  transition: 200ms;
}

/*----- IconTextPair -----*/
.pair {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  margin-right: 15px;
}

.text {
  font-weight: 500;
  color: #707070;
}

.email {
  color: #707070;
}
