.centering-container {
    width: 100%;
    min-height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 70px;
}

.form-header {
    font-size: 32px;
    font-weight: 700;
    color: #4B6980;
    margin-bottom: 20px;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.form-left {
    display: flex;
    flex-direction: column;
}

.form-right {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.input-label {
    font-size: 14px;
    font-weight: 600;
    color: #707070;
    margin-top: 15px;
}

.input-field {
    width: 300px;
    height: 30px;

    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;

    font-size: 14px;

    border-color: rgba(0,0,0,0);
    border-radius: 5px;
    background-color: #FFFFFF;
}
.input-field::placeholder {
    font-size: 16px;
    color: #C0C0C0;
}
.input-field:focus {
    outline: none !important;
    border-color: rgba(0,0,0,0);
    background-color: #FFFFFF;
}
.input-field:hover {
    background-color: #F7F7F7;
}

.additional-text {
    display: flex;
    align-items: row;

    font-size: 14px;
    font-weight: 600;
    color: #C4C4C4;
}

.additional-link {
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #3C8CC9;
}

.btt-register {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    font-weight: 700;

    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;

    background-color: #4B6980;
    color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
}
.btt-register:hover {
    background-color: #6c92af;
    color: #FFFFFF;
    transition: 200ms;
}