/*-------BLOCK FORMATTING------*/
.block-container {
    width: 400px;
    height: fit-content;

    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;

    background-color: white;
    border-radius: 10px;

    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.heading {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
}
.subheading {
    font-weight: 500;
    font-size: 14px;
    color: #C4C4C4;

    margin-top: 10px;
    margin-bottom: 5px;
}

.hidden {
    display: none;
}

.fade {
    opacity: 0%;
    transition: 200ms;
}

.overflow-wrapper {
    overflow-x: auto;
    white-space: nowrap;
}
.overflow-wrapper::-webkit-scrollbar {
    display: none;
}

/*Textfield*/
.textfield-container {
    width: 100%;

    display: flex;
    align-items: center;

    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;

    font-size: 14px;

    border-color: rgba(0,0,0,0);
    border-radius: 10px;
    background-color: #F7F7F7;
}
.textfield-container::placeholder {
    font-size: 14px;
    color: #C0C0C0;
}
.textfield-container:focus {
    outline: none !important;
    border-color: rgba(0,0,0,0);
    background-color: #F7F7F7;
}
.textfield-container:hover {
    background-color: #EEEEEE;
}
.textfield-container-bricked {
    width: 100%;

    display: flex;
    align-items: center;

    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;

    font-size: 14px;

    border-color: rgba(0,0,0,0);
    border-radius: 10px;
    background-color: #EEEEEE;
}

/*Toggle*/
.toggle-set {
    display: flex;
    flex-direction: row;
    align-items: center;

    position: absolute;
    top: 20px;
    right: 35px;
    cursor: pointer;
}
.toggle-bar {
    position: relative;
    width: 35px;
    height: 15px;

    border-radius: 10px;
}
.toggle-circle {
    position: absolute;
    left: 0px;

    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.toggle-greybg {
    background-color: #F7F7F7;
    transition: 200ms;
}
.toggle-greybtt {
    background-color: #C4C4C4;
    transition: 200ms;
}
.toggle-redbg {
    background-color: #ffc6c6;
    transition: 200ms;
}
.toggle-redbtt {
    background-color: #ff7070;
    transition: 200ms;
}
.toggle-text-red {
    margin-right: 10px;
    font-size: 12px;
    font-weight: 500;
    color: #ff7070;
    transition: 200ms;
}
.toggle-text-grey {
    margin-right: 10px;
    font-size: 12px;
    font-weight: 500;
    color: #C4C4C4;
    transition: 200ms;
}


/*Add Option Button*/
.btt-add-option {
    width: 15%;
    padding: 3px;
    padding-left: 7px;
    padding-right: 7px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    background-color: #BAE4FA;
    color: #00A3FF;
    transition: 200ms;

    font-size: 10px;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.btt-add-option:hover {
    background-color: #7eb6df;
    color: #FFFFFF;
    transition: 200ms;
}
.btt-add-option-bricked {
    width: 15%;
    padding: 3px;
    padding-left: 7px;
    padding-right: 7px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    background-color: #EEEEEE;
    color: #BCBCBC;
    transition: 200ms;

    font-size: 10px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.btt-add-all {
    width: 20%;
    padding: 3px;
    padding-left: 7px;
    padding-right: 7px;
    margin-left: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;

    font-size: 10px;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.btt-add-all:hover {
    background-color: #FFCA39;
    color: #FFFFFF;
    transition: 200ms;
}
.btt-add-all-off {
    background-color: #FFE49A;
    color: #DAA000;
}
.btt-add-all-on {
    color: #FFE49A;
    background-color: #DAA000;
}

/*Option Handling*/
.option-container {
    width: 100%;
    padding: 2px;
    padding-left: 20px;
    padding-right: 20px;

    margin-bottom: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;

    border-radius: 5px;

    cursor: pointer;
}
.option-container:hover {
    background-color: #ffc6c6;
    transition: 200ms;
}
.option-container-bricked {
    width: 100%;
    padding: 2px;
    padding-left: 20px;
    padding-right: 20px;

    margin-bottom: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;

    border-radius: 5px;
}

.option-text {
    font-size: 14px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.option-adder {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}
.option-input {
    display: flex;
    align-items: center;
    width: 85%;

    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;

    font-size: 14px;

    border-color: rgba(0,0,0,0);
    border-radius: 5px;
    background-color: #F7F7F7;
}
.option-input:focus {
    outline: none !important;
    border-color: rgba(0,0,0,0);
    background-color: #EEEEEE;
}
.option-input:hover {
    background-color: #EEEEEE;
}
.option-input-bricked {
    display: flex;
    align-items: center;
    width: 85%;

    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;

    font-size: 14px;

    border-color: rgba(0,0,0,0);
    border-radius: 5px;
    background-color: #EEEEEE;
}


.option-none-ind {
    font-size: 12px;
    font-weight: 500;
    padding-left: 20px;
    color: #BCBCBC
}




.dummy-block {
    height: 200px;
    width: 100%;
    margin: auto;
    margin-top: 10px;

    border-radius: 10px;
    background-color: #F7F7F7;
}


/*-------HEADER------*/
.header-imgsrc-container {
    width: 75%;

    display: flex;
    align-items: center;

    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;

    font-size: 14px;

    border-radius: 10px;
    background-color: #F7F7F7;
}

.header-imgbar-n-btt {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-btt-upload {
    width: fit-content;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    background-color: #BAE4FA;
    color: #00A3FF;

    font-size: 12px;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.header-btt-upload:hover {
    background-color: #7eb6df;
    color: #FFFFFF;
    transition: 200ms;
}


/*-------RADIO------*/
.options-container {
    width: 100%;
    max-height: 300px;
    overflow-y: auto;

    padding-top: 10px;
    padding-bottom: 10px;

    display: flex;
    flex-direction: column;

    background-color: #F7F7F7;
    border-radius: 10px;
    transition: 200ms;
}
.options-container:hover::-webkit-scrollbar-track {
    background: rgba(241, 241, 241, 1);
    opacity: 100%;
    transition: 200ms;
}
.options-container::-webkit-scrollbar-thumb {
    background: rgba(188, 188, 188, 1);
    opacity: 100%;
    transition: 200ms;
}
.options-container-bricked {
    background-color: #EEEEEE;
    transition: 200ms;
}


/*-------MULTIPLE CHOICE------*/


/*-------CONTENT BLOCK------*/


/*-------DROPDOWN------*/


/*-------SELECT MULTIPLE------*/