.add_content {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
