.container {
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.check {
  min-width: 20px;
  min-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  margin-left: 5px;
  font-weight: 300;
}
