.home-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/*---------TOP SECTION---------*/
.home-top {
  width: 100vw;
  height: 700px;
  margin-top: 50px;
  margin-bottom: 70px;
}

.home-top-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transform: translate(-150px);
  position: relative;
  top: -1970px;
  left: 0;
  z-index: 1;
}

.top-gradient {
  opacity: 0.7;
  background: linear-gradient(-45deg, #47667d, #3c8cc9, #bae4fa);
  background-size: 150% 150%;
  animation: gradient 10s ease infinite;
  width: 120%;
  height: 2000px;
  transform: rotate(-5deg) translate(200px, 10px);

  position: relative;
  top: -1700px;
  left: -300px;
  z-index: 0;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.top-left {
  display: flex;
  flex-direction: column;
  position: relative;

  padding-right: 250px;
}

.mockup-inbox {
  width: 600px;
  box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

.mockup-form {
  width: 600px;
  box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;

  position: absolute;
  top: 120px;
  left: 150px;
}

.top-right {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.adword {
  width: fit-content;
  background-color: #bae4fa;
  color: #378dcc;
  padding-left: 5px;
  padding-right: 5px;
}

.top-heading {
  font-size: 72px;
  font-weight: 800;
  margin-bottom: 20px;
}

.top-subheading {
  font-size: 28px;
}

.btt-get-started {
  font-size: 16px;
  font-weight: 600;
  width: fit-content;

  padding: 8px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 30px;

  background-color: #47667d;
  text-decoration: none;
  color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
}
.btt-get-started:hover {
  opacity: 0.7;
  transition: 200ms;
}

/*---------FEATURES SECTION---------*/
.home-features {
  width: 100%;
  height: fit-content;
  background: #f6f9fc;

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  padding-top: 130px;
  padding-bottom: 50px;
}

.home-feature-group-imgText {
  width: 1350px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 80px;
  transform: translate(-150px);
}

.home-feature-group-textImg {
  width: 1350px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 80px;
  transform: translate(150px);
}

.features-image {
  width: 750px;
  border-radius: 5px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.features-icon-heading-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.features-icon {
  min-width: 50px;
  fill: #47667d;
  margin-right: 25px;
  margin-bottom: 20px;
  text-shadow: -10px 10px 30px rgba(0, 0, 0, 0.15);
}

.feature-text-group {
  width: 500px;
  display: flex;
  flex-direction: column;
}

.feature-text-heading {
  color: #47667d;
  font-size: 38px;
  font-weight: 800;
  text-shadow: -10px 10px 30px rgba(0, 0, 0, 0.15);
}

.feature-text-subheading {
  color: #555555;
  font-size: 22px;
  font-weight: 500;
  text-shadow: -10px 10px 30px rgba(0, 0, 0, 0.15);
}

/*---------MODERNIZE SECTION---------*/
.home-modernize {
  width: 100vw;
  height: 600px;
  background: linear-gradient(-45deg, #78aed7, #7aa5c6);

  position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modernize-image {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.modernize-header {
  font-size: 36px;
  font-weight: 800;
  color: white;
  margin-bottom: 20px;
  text-shadow: -10px 10px 30px rgba(0, 0, 0, 0.1);
}

.btt-see-options {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  font-weight: 700;

  padding: 7px;
  padding-left: 15px;
  padding-right: 15px;

  background-color: rgba(256, 256, 256, 0.3);
  text-decoration: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
.btt-see-options:hover {
  background-color: rgba(256, 256, 256, 0.5);
  color: #ffffff;
  transition: 200ms;
}

@media (max-width: 641px) {
  .home-top {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .home-top-container {
    flex-direction: column;
    transform: none;
    height: fit-content;
  }
  .top-gradient {
    transform: rotate(-5deg) translate(200px, 150px);
  }
  .top-left {
    margin-left: 50px;
    margin-bottom: 50px;
  }
  .top-right {
    width: 100%;
    padding-top: 0px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .top-heading {
    font-size: 44px;
  }
  .top-subheading {
    font-size: 22px;
  }
  .mockup-inbox {
    width: 350px;
  }
  .mockup-form {
    width: 350px;
    position: absolute;
    top: 80px;
    left: 150px;
  }

  .home-features {
    padding-top: 100px;
  }
  .home-feature-group-imgText {
    flex-direction: column-reverse;
    transform: none;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 120px;
  }
  .home-feature-group-textImg {
    flex-direction: column-reverse;
    transform: none;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 120px;
  }
  .feature-text-group {
    width: 100%;
    margin-top: 40px;
  }
  .features-icon-heading-group {
    align-items: flex-start;
  }
  .features-icon {
    height: 30px;
  }
  .feature-text-heading {
    font-size: 28px;
  }
  .feature-text-subheading {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .features-image {
    width: 110%;
  }

  .home-modernize {
    height: 700px;
  }
  .modernize-header {
    font-size: 32px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
  }
  .modernize-image {
    width: 250px;
  }
  .btt-see-options {
    display: none;
  }
  .btt-get-started:hover {
    opacity: 1;
  }
}
