.home-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/*---------TOP SECTION---------*/
.home-top {
  width: 100vw;
  height: 700px;
  margin-top: 50px;
  margin-bottom: 70px;
}

.home-top-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transform: translate(-150px);
  position: relative;
  top: -1970px;
  left: 0;
  z-index: 1;
}

.top-gradient {
  opacity: 0.7;
  background: linear-gradient(-45deg, #47667D, #3C8CC9, #BAE4FA);
	background-size: 150% 150%;
	animation: gradient 10s ease infinite;
  width: 120%;
  height: 2000px;
  transform: rotate(-5deg);

  position: relative;
  top: -1700px;
  left: -300px;
  z-index: 0;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.top-left {
  display: flex;
  flex-direction: column;
  position: relative;

  padding-right: 250px;
}

.mockup-inbox {
  width: 600px;
  box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

.mockup-form {
  width: 600px;
  box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;

  position: absolute;
  top: 120px;
  left: 150px;
}

.top-right {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.adword {
  width: fit-content;
  background-color: #BAE4FA;
  color: #378DCC;
  padding-left: 5px;
  padding-right: 5px;
}

.top-heading {
  font-size: 72px;
  font-weight: 800;
  margin-bottom: 20px;
}

.top-subheading {
  font-size: 28px;
}

.btt-get-started {
    font-size: 16px;
    font-weight: 600;
    width: fit-content;

    padding: 8px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 30px;

    background-color: #47667D;
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
}
.btt-get-started:hover {
    opacity: 0.7;
    transition: 200ms;
}

/*---------FEATURES SECTION---------*/
.home-features {
  width: 100%;
  height: fit-content;
  background: #F6F9FC;

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  padding-top: 130px;
  padding-bottom: 50px;
}

.home-feature-group-imgText {
  width: 1350px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 80px;
  transform: translate(-150px);
}

.home-feature-group-textImg {
  width: 1350px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 80px;
  transform: translate(150px);
}

.features-image {
  width: 750px;
  border-radius: 5px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.features-icon-heading-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.features-icon {
  min-width: 50px;
  fill: #47667D;
  margin-right: 25px;
}

.feature-text-group {
  width: 500px;
  display: flex;
  flex-direction: column;
}

.feature-text-heading {
  color: #47667D;
  font-size: 38px;
  font-weight: 800;
}

.feature-text-subheading {
  /* color: #BCBCBC; */
  font-size: 22px;
  font-weight: 200;
}

/*---------MODERNIZE SECTION---------*/
.home-modernize {
  width: 100vw;
  height: 600px;
  background: linear-gradient(-45deg, #78AED7, #7AA5C6);

  position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modernize-image {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.modernize-header {
  font-size: 36px;
  font-weight: 800;
  color: white;
  margin-bottom: 20px;
}

.btt-see-options {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  font-weight: 700;

  padding: 7px;
  padding-left: 15px;
  padding-right: 15px;

  background-color: rgba(256,256,256,0.3);
  text-decoration: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
.btt-see-options:hover {
  background-color: rgba(256,256,256,0.5);
  color: #ffffff;
  transition: 200ms;
}